.g-header {
	background-image: url(../images/header/img_1_laptop.png);
	color: white;
	position: relative;
	font-family: $fontFamily;
	background-size: 100%;
	height: 800px;
	background-position-x: center;

	@media screen and (max-width: 992px) {
		background-position-x: center;
		background-repeat: no-repeat;
		height: 718px;
		background-size: cover;
	}
	@media screen and (max-width: 480px) {
		background-position-x: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.g-wrap {
	display: flex;
	box-sizing: border-box;
	justify-content: space-around;
	padding: 30px 80px 0;

	@media screen and (max-width: 992px) {
	background: #27262a;
	padding: 0;
	display: block;
	}
	@media screen and (max-width: 480px) {
	height: 103px;
	display: block;
	padding-top: 30px;
	padding-right: 15px;
	padding-left: 15px;
	}
}
.header-content{
	padding: 42px 20px 0;

	@media screen and (max-width: 992px) {
		padding: 10px 10px;
		align-items: center;
	}
	@media screen and (max-width: 480px) {
		padding: 30px 10px;
		align-items: center;
	}
}

.header-logo-block {
	display: flex;
	@media screen and (max-width: 992px) {
	margin: 0;
	align-items: center;
	justify-content: space-around;
}


	@media screen and (max-width: 480px) {
	display: flex;
	justify-content: space-between;
	align-items: center;
	}
}

.header__logo {
	display: flex;
	align-items: center;
	@media screen and (max-width: 992px) {
	padding-bottom: 30px;
	}
	@media screen and (max-width: 480px) {
	padding-bottom: 0;
	}

	.logo__svg {
	margin-right: 15px;
		svg {
			width: 43px;
			height: 42px;
		}
	}
	&:hover {
		color: white;
		svg path {
			stroke: white;
		}
		svg polygon {
			fill: white;
		}
	}
}

.logo__text {
	color: #8d81ac;
	font-size: $title_h4;
	font-weight: bold;
	align-items: center;
	font-family: $fontFamilySecond;

	&:hover {
	color: white;
	}

	@media screen and (max-width: 480px) {
	display: none;
	}
}

.header__navigation {
	display: flex;
	align-items: center;
	margin-left: 180px;

	@media screen and (max-width: 992px) {
	margin-left: -60px;
	}
}

.navigation__list {
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 992px) {
	margin-top: 85px;
	margin-bottom: 18px;
	max-width: 450px;
	gap: 13px;
	}
	@media screen and (max-width: 480px) {
	display: none;
	}
}

.navigation__list-item {
	padding-right: 47px;
	@media screen and (max-width: 992px) {
	padding-right: 0;
	}
}

.navigation__list-item a {
	color: #8d81ac;
	font-weight: bold;
	font-size: 16px;
}

.navigation__list-item a:hover {
	color: white;
	transition: 0.3s;
}

.navigation__button {
	width: 145px;
	height: 37px;
	border: 1px solid #8d81ac;
	color: white;
	background-color: #8d81ac;
	border-radius: 40px;
	cursor: pointer;
	font-weight: bold;
	font-size: $text_p1;
	font-family: $fontFamily;
	@media screen and (max-width: 992px) {
		margin-bottom: 30px;
		margin-left: -70px;
	}
	@media screen and (max-width: 480px) {
		margin-bottom: 0;
		margin-left: -10px;
	}
}

.navigation__button:hover {
	background-color: white;
	color: #8d81ac;
	transition: 0.3s;
}

#menu-button {
	display: none;
}

@media screen and (max-width: 992px) {
	#menu-button {
		cursor: pointer;
		.menu-button-open {
			display: block;
		}

		.menu-button-close {
			display: none;
		}
	}

	#menu-button.active {
		.menu-button-open {
			display: none;
		}
		.menu-button-close {
			display: block;
		}
	}
}

@media screen and (max-width: 480px) {
	#menu-button {
		display: flex;
		grid-column-start: 3;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 1;
		align-items: center;
		justify-content: flex-end;
	}
	.header__navigation {
		display: none;
		.navigation__list {
			.navigation__list-item a {
				padding: 0 24px;
			}
		}
	}
	.header__navigation.active {
		display: block;
		position: absolute;
		width: 90%;
		background: #333;
		grid-column: none;
		margin: 0 auto;
		left: 5%;
		top: 103px;
		.navigation__list {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
			margin: 0;
			.navigation__list-item {
				width: 100%;
				height: 88px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				a {
					font-size: 26px;
					line-height: 26px;
					font-style: normal;
					font-weight: normal;
				}
				&.active,
				&:hover {
					a {
						margin-left: -8px;
					}
					&:before {
						content: " ";
						display: block;
						width: 8px;
						height: 50px;
						background: #8d81ac;
					}
				}
			}
		}
	}
}

.header__main {
	display: flex;
	flex-direction: column;
	text-align: center;
	.main__title {
		font-size: $title_h0;
		margin-top: 29px;

		@media screen and (max-width: 992px) {
		font-size: 72px;
		}
		@media screen and (max-width: 480px) {
			font-size: 48px;
		}
	}
}
.main__subtitle {
 margin-top: 19px;
 font-weight: normal;
 color: #8d81ac;
 font-size: $title_h3;
 @media screen and (max-width: 992px) {
 font-size: 24px;
 }
 @media screen and (max-width: 480px) {
 margin-top: 0;
 padding: 5px 7px;
 }
}

.main__desc {
	margin-top: 19px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 16px;
	color: #848e97;
	@media screen and (max-width: 992px) {
	font-size: 14px;
	}
	@media screen and (max-width: 480px) {
	margin-top: 14px;
	}
}

.header__bottom {
	display: flex;
	justify-content: center;
	margin-top: 200px;
}

.bottom__button {
	position: absolute;
	top: 760px;
	width: 390px;
	height: 62px;
	border: 2px solid #8d81ac;
	color: white;
	background-color: #8d81ac;
	border-radius: 40px;
	cursor: pointer;
	font-weight: bold;
	font-size: $text_p1;
	font-family: $fontFamily;
	display: flex;
	justify-content: center;
	align-items: center;

	@media screen and (max-width: 992px) {
		top: 680px;
	}

	@media screen and (max-width: 480px) {
	height: 45px;
	width: 290px;
	top: 700px;
	}
}

.bottom__button:hover {
	background-color: white;
	color: #8d81ac;
	transition: 0.3s;
}

.bottom__desc {
	position: absolute;
	top: 850px;
	color: #848e97;

	@media screen and (max-width: 992px) {
		top: 770px;
	}

	@media screen and (max-width: 480px) {
	top: 770px;
	}
}
