.here-is-what-you-get {
    background-color: #F4F4F4;
    padding: 92px 0 33px;
   @media screen and (max-width: 992px){
           background-color:$main_white;
           padding: 0;
          
       }
   
   }
   
   
   .here-is-what-you-get-content__icon-search {
       width: 111px;
       height: 64px;
       @media screen and (max-width: 480px){
           width: 100%;
          
       }
   }
   .here-is-what-you-get-content__icon-tool {
       width: 90px;
       height: 80px;
        @media screen and (max-width: 480px){
           width: 100%;
          
       }
   }
   .here-is-what-you-get-content__icon-stuff {
       width: 60px;
       height: 84px;
        @media screen and (max-width: 480px){
           width: 100%;
          
       }
   }
   .here-is-what-you-get-content__icon-clock  {
       width: 71px;
       height: 71px;
        @media screen and (max-width: 480px){
           width: 100%;
          
       }
   }
   .here-is-what-you-get-content {
       align-items: center;
       display: grid;
       grid-template-columns: 1fr 2fr;
       margin-bottom: 33px;
       justify-items: center;
       @media screen and (max-width: 992px){
           grid-template-columns: 0.5fr 2fr;
           gap: 23px;
       }
       @media screen and (max-width: 480px){
           display: inline-block;
           align-items: center;
           margin-bottom: 38px;
       }
   }
   .here-is-what-you-get-content.bottom{
      margin-bottom: 0;
   }
   .img--big {
       @media screen and (max-width: 992px ){
           
           min-width: 317px;
           padding-bottom: 0;
           padding-left: 292px;
           
       }
        @media screen and (max-width: 480px ){
           display: none;
           
       }
   }
   .img--small {
               display: none;
           @media screen and (max-width: 480px ){
           display: block;
           width: 100%;
           padding-bottom: 0;
           padding-left: 156px;
           max-width: 317px;
   
           
       }
           }
   .here-is-what-you-get-content-right__title {
       font-weight: 700;
       font-size: $title_h2;
       color: $main_title;
       font-family: $fontFamily;
       text-align: center;
       padding-bottom: 38px;
       display: block;
       @media screen and (max-width: 992px ){
           display: none;
           
       }
   }
   .here-is-what-you-get__text {
       font-size: $text_p2;
       color: $text;
       font-family: $fontFamily;
       font-weight: 400;
        @media screen and (max-width: 480px){
           text-align: center;
          
       }
   }
   .what-you-get__wrapper {
       display: grid;
       grid-template-columns: 45% 55%;
       align-items: center;
       @media screen and (max-width: 992px ){
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: 0 auto;
       position: relative;
       
   }
   
   .here-is-what-you-get-content-right {
       @media screen and (max-width: 992px){
           display: flex;
           justify-content: flex-end;
           padding-top: 73px;
          
       }
   }
   .here-is-what-you-get-text-wrapper {
       text-align: left;
   }
   .here-is-what-you-get__title {
       font-family: $fontFamily;
       font-size: $text_p1;
       color: $secondary_title;
       font-weight: 400;
       padding-bottom: 17px;
        @media screen and (max-width: 480px){
           text-align: center;
           padding: 20px 0 14px;
           
          
       }
   }
   
   .here-is-what-you-get-content-left {
        @media screen and (max-width: 992px ){
        box-sizing: border-box;
        padding: 0 10px;
       
   }
       @media screen and (max-width: 480px ){
       max-width: 277px;
       
   }
   
      .here-is-what-you-get-content-right__title {
       font-weight: 700;
       font-size: $title_h2;
       color: $main_title;
       font-family: $fontFamily;
       text-align: center;
       padding-bottom: 38px;
       display: none;
       @media screen and (max-width: 992px ){
           display: block;
           font-size: $title_h7;
           padding-bottom: 51px;
       }
       @media screen and (max-width: 480px ){
           display: block;
           font-size: $text_p5;
           padding-bottom: 36px;
       }
   }
   }}