.people-are-talking{
background-image: url(../images/people_are_talking_about_fork/testmonials-bg_r.jpg);
background-size: cover;
}

.people-wrap{
   
@media screen and (max-width: 992px){
background-size: 120%;
background-position-x: center;
    }
@media screen and (max-width: 480px){
background-size: 120%;
background-position-x: center;
    }
}


.people__title{
font-family: $fontFamily;
font-weight: bold;
font-size: $title_h2;
color: white;
display: flex;
justify-content: center;
padding-top: 108px;

@media screen and (max-width: 992px){
font-size: 42px;
text-align: center;
padding-top: 80px;
}
@media screen and (max-width: 480px){
width: 320px;
margin: auto;
font-size: 36px;
line-height: 48px;
text-align: center;
padding-top: 55px;
}
}


.people__block{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 20px;
row-gap: 60px;
align-items: center;
text-align: center;
justify-items: center;
padding: 82px 85px 0;

@media screen and (max-width: 992px){
    row-gap: 60px;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    padding-top: 60px;
    // padding: 85px 0 68px 0;
}


@media screen and (max-width: 480px){
row-gap: 45px;
grid-template-columns: 1fr;
margin: 0 auto;
padding: 0;
padding-top: 53px;
// padding: 45px 0 41px 0;
}
}


.content__logo-people{
margin-bottom: 28px;
display: flex;
justify-content: center;
}

.logo-smashing{
    height: 43px;
}

.logo-codrops{
    height: 50px;
}
.logo-w{
    height: 64px;
}

.logo-pixel{
    height: 24px;
}

.logo-cb{
    height: 34px;
}

.logo-tnw{
    height: 34px;
}

.content__text-people{
text-align: center;
max-width: 330px;
font-family: $fontFamilySecond;
font-style: italic;
font-weight: bold;
font-size: 16px;
color: white;
line-height: 24px;
@media screen and (max-width: 743px){
    max-width: 200px;
}

}

.people__bottom-desc{
max-width: 887px;
font-family: $fontFamilySecond;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #A291A5;
margin: auto;
text-align: center;
position: relative;
padding-top: 50px;
padding-bottom: 19px;

@media screen and (max-width: 992px){
max-width: 700px;
}

@media screen and (max-width: 743px){
max-width: 700px;
}
@media screen and (max-width: 480px){
max-width: 250px;
}
}

.people__bottom-desc::after{
content: " ";
display: block;
height: 2px;
max-width: 768px;
background: #645766;
margin: 0 auto;
margin-top: 18px;
max-width: 90%;
}