@import "variables/colors";
@import "variables/fonts";
@import "mixins/mixin";

* {
  padding: 0;
  margin: 0;
  // width: 100%
}
.container-content {
    max-width: 1200px;
    margin: 0 auto;
    @media screen and(max-width: 992px ){

    }
}

.revolutionary-editor{
padding-top: 129px;
}

.revolutionary-content {
    text-align: center;
    padding-bottom: 70px;
    max-width: 995px;
    margin: 0 auto;
     @media screen and(max-width: 992px ){
       padding: 0 10px 98px;
       max-width: 780px;
       margin: 0 auto;
       box-sizing: border-box;

    }
    @media screen and(max-width: 480px ){
        max-width: 320px;
        margin: 0 auto;

    }
    
}
.revolutionary-content__title{
    font-size: $title_h1;
    font-family: $fontFamily;
    color: $title_dark;
    text-transform: uppercase;
    padding-bottom: 37px;
    @media screen and(max-width: 992px ){
        font-size: $title_h7;
        padding-bottom: 32px;

    }
    @media screen and(max-width: 480px ){
        font-size: $text_p4;
        padding-bottom: 29px;

    }
    
}
.revolutionary-content__text {
    font-size: $title_h6;
    font-weight: 400;
    font-family: $fontFamily;
    line-height: 32px;
    padding-bottom: 30px;
    @media screen and(max-width: 480px ){
        font-size: $text_p2;
        

    }

}
.editor__content--svg{
    justify-content: center;
    gap: 10px;
    max-width: 365px;
    display: inline-flex;
    @media screen and (max-width: 480px ){
      flex-wrap: wrap;
      row-gap: 20px;
    }


    .editor__content--link {
      display: flex;
      margin: 0 10px 0 0;
      font-size: 12px;
      font-weight: bold;
      background-color: rgba(175,184,193,0.2);
      border: 1px solid rgba(27,31,36,0.15);
      border-radius: 4px;
    }
  }

  .svg__content {
    box-sizing: border-box;
    display: block;
    padding: 2px 10px 0;
    line-height: 20px;
    color: #24292f;
    text-align: center;
  }

.svg__content--icon {
  box-sizing: border-box;
  display: block;
  margin: 4px 0 0 6px;
}
  .svg__counter {
    display: block;
    padding: 4px 7px 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    color: #24292f;
    text-align: center;
    background-color: #f6f8fa;
    border-left: 1px solid rgba(27, 31, 36, 0.15);
  }

.editor__content--item {
  max-width: 130px;
}

