﻿
* { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }

strong { font-weight: bold; }

i, em { font-style: italic; }

img { margin: 0; border: 0; }

ul { margin: 0; padding: 0; list-style: none; }

td, th, tr { vertical-align: top; }

article, aside, figure, footer, header, hgroup, menu, nav, section, main { display:block; }

button {
border-style: none; padding: 0;
}