@import "variables/fonts";

.title-h0 { font-size: $title_h0; line-height: 1.2;}
.title-h1 { font-size: $title_h1; line-height: 1.2;}
.title-h2 { font-size: $title_h2; line-height: 1.2;}
.title-h3 { font-size: $title_h3; line-height: 1.2;}

.text-p1 { font-size: $text_p1; line-height: 1.2; }
.text-p2 { font-size: $text_p2; line-height: 1.2; }
