$main_color: rgba(141, 129, 172, 1);
$main_white: rgba(255, 255, 255, 1);
$main_dark: rgba(70, 48, 72, 1);

$main_title: rgba(141, 129, 172, 1);
$title_dark: rgba(99, 92, 115, 1);
$secondary_title: rgba(50, 50, 50, 1);
$text: rgba(132, 142, 151, 1);
$text_light: rgba(162, 145, 165, 1);
$bg_footer: #645766;

