$fontFamily: 'Montserrat', sans-serif;
$fontFamilySecond: 'Lato', sans-serif;

$title_h0: 82px;
$title_h1: 54px;
$title_h2: 48px;
$title_h3: 30px;
$title_h4: 24px;
$title_h6: 21px;
$title_h7: 42px;

$text_p1: 16px;
$text_p2: 14px;

$text_p3: 15px;
$text_p4: 26px;
$text_p5: 32px;
$text_p6: 28px;
$text_price: 60px;


