@import "colors";
@import "fonts";

@mixin font {
	font-family: $fontFamily;
	font-weight: 400;

}

@mixin flex-row-center {
	display: flex;
	justify-content: center;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

