.fork-subscription-pricing {
    font-family: $fontFamily;
    
    
}
.fork-subscription-pricing {
    //  background-color: $bg_footer;
    height: 100%;
//   padding-top: 15px;
//   padding-bottom: 50px;
  background-image: url('../images/footer/bg.png');
  background-size: cover;


}

.fork-subscription-pricing-content {
    padding-top: 88px;
    text-align: center;

}
.fork-subscription-pricing__wrapper-cards {
    @include flex-center;
    gap: 15px;
    padding: 0 0 73px;
    @include border-box-center;

    @media screen and (max-width:580px)  {
         gap: 9px;
         margin: 0 auto;
         max-width: 480px;
        
       
     
    } 


    @media screen and (max-width:992px)  {
        flex-wrap: wrap;
        max-width: 580px;
        justify-content: flex-end;
        gap: 25px;
        margin: 0 auto;
         @media screen and (max-width:580px)  {
        margin: 0 auto;
        gap:9px;
        max-width: 480px;
        
    }
       
        @media screen and (max-width:580px)  {
         gap: 9px;
    } 
     
    }
     

    @media screen and (max-width:480px)  {
         gap: 18px;
         @include flex-center;     
    } 
   
}
.card-wrapper__text--wider {
    padding-bottom: 19.5px;
}
.fork-subscription-pricing__title {
    font-weight: 700;
    font-size: $title_h2;
    color: $main_white;
    padding-bottom: 60px;
    @include border-box-center;
    padding-left: 10px;
    padding-right: 10px;
     @media screen and (max-width:992px) {
        font-size: $title_h7;         
     }
     @media screen and (max-width:480px) {
        font-size: $text_p6;
         
     }
   
}
.fork-subscription-pricing__card, .fork-subscription-pricing__card--active {
    text-align: center;
    width: 100%;

}
.fork-subscription-pricing__card--active {
   .card__title {
       background-color: rgba(0, 0, 0, 0.1);
        padding: 43px 0;
   }
}
.card-wrapper {
    padding-top: 14px;
    padding-bottom: 47px;
    @include flex-center-column;
    gap: 40px;

    .card-wrapper__price {
    font-weight: 700;    
    font-size: $title_h0;
    color: $main_white;
}
.card-wrapper__per-month {
    text-transform: uppercase;
}
.card-wrapper__divider {
    border: 2px solid rgba(141, 129, 172, 1);
    background-color: rgba(141, 129, 172, 1);
    width: 60px;
    display: inline-block;
    
}

.card-wrapper__button-purchase {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-purchase {
 text-transform: uppercase;
  font-size: $text_p3;
}

}
.card__title {
    color: $main_white;
    font-size: $title_h4;
    font-weight: 400;
    text-transform: uppercase;
}

.card-wrapper__per-month {
    font-weight: 400;
    font-size: $text_p2;
    color: $main_white;
}
.card-wrapper__text {
    font-weight: 400;
    font-size: $text_p1;
    color: $main_white;
    @media screen and (max-width:580px)  {
         font-size:  $text_p2;
        
    } 
    @media screen and (max-width:480px)  {
         font-size:  $text_p1;
        
    } 
}

.card-wrapper__button-purchase {
    width: 190px;
    border-radius: 40px;
    padding: 14px 0;
}

.btn-purchase {
text-transform: uppercase;
font-weight: 400;
font-size: $text_p1;
color: $main_white;
} 
.fork-subscription-pricing__card--active {
    background-color: rgba(70, 48, 72, 1);
    max-width: 299px;
    max-height: 560px;

    @media screen and (max-width:580px)  {
         max-width: 254px;
     
    } 
    @media screen and (max-width:480px)  {
         max-width: 299px;
     
    } 
   
}

.fork-subscription-pricing__card {
    max-width: 256px;
    background-color: rgba(255, 255, 255, 0.1);
    min-height: 460px;
    margin-left: 0;
    margin-right: 0;

    @media screen and (max-width:580px)  {
         max-width: 211px;  
    } 
    @media screen and (max-width:480px)  {
         max-width: 256px;  
    } 
   .card__title {
       padding: 36px 0;
       background-color: rgba(255, 255, 255, 0.1);
   }
   .card-wrapper {
    @include flex-center-column;
    gap: 30px; 
   }

    .card-wrapper__price {
    font-size: $text_price;
}
.card-wrapper__per-month {
    text-transform: uppercase;

}
.card-wrapper__divider {
    display: inline-block;
}

.card-wrapper__button-purchase {
  width: 160px;
 

}

   }