@import "./header/header";
@import "./main/revolutionary";
@import "./main/here-is-what";
@import "./main/people-talking";
@import "./footer/fork_subsciption";


.container{
    font-family: $fontFamily;
    // padding: 0 10px;
    max-width: 1200px;
    margin: 0 auto;
    min-width: 320px;
    @media (max-width: 992px) {

      .container {
        max-width: 992px;
      }
    }
  }

  .container-content {
    min-width: 320px;
    overflow-x: hidden;
}