@import "../variables/colors";
@import "../variables/fonts";

@mixin font {
	font-family: $fontFamily;
	font-style: normal;
	font-weight: normal;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
}
@mixin flex-center-column {
	display: flex;
	flex-direction: column;
    align-items: center;
}
@mixin flex-column {
	display: flex;
	flex-direction: column;
}
@mixin border-box-center {
	align-items: center;
    box-sizing: border-box;
}

// @include flex-row-center;