<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maxsimum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="css/reset.min.css" />
    <link rel="stylesheet" href="/dist/css/style.min.css" />
    <title>@@title</title>
  </head>
  